{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
             <div class="col-sm-4 col-lg-2">
                <div class="thumbnail">
                    <img src="{{ post.image.url }}">
                </div>
            </div>
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <div class="date">
                <p>posted on: {{ post.published_date }}</p>
            </div>
            <p>₹ {{post.item_cost}}</p>

        </div>
    {% endfor %}
{% endblock content %}
